@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-black text-slate-100 font-sans overflow-x-hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-black;
}

::-webkit-scrollbar-thumb {
  @apply bg-cyan-900 rounded-full hover:bg-cyan-700 transition-colors;
}

/* Utilities */
@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(0, 243, 255, 0.42), 0 0 20px rgba(0, 243, 255, 0.25);
  }
  
  .box-glow {
    box-shadow: 0 0 20px rgba(0, 243, 255, 0.08);
  }

  .clip-path-polygon-1 {
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  }
  
  .clip-path-polygon-2 {
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  }

  .scroll-snap-x {
    scroll-snap-type: x mandatory;
  }

  .snap-center {
    scroll-snap-align: center;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .bg-grid-white {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  }
}